<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Productos</h1>
    {% block content %}
    {% endblock %}
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>SKU</th>
                <th>Stock</th>
            </tr>
        </thead>
        {% for producto in data %}
        <tr>
            <td>
                {{producto.fields.nombre}}
            </td>
            <td>
                {{producto.fields.sku}}
            </td>
            <td>
                {{producto.fields.stock}}
            </td>
        </tr>
        {% endfor %}

    </table>
</body>
</html>